.homepage-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e0f2f1, #b2dfdb);
    animation: Gradient 15s ease infinite;
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .list-item-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #009688;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
  }
  
  .list-item-button:hover {
    background-color: #00796b;
  }
  